

body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e4d9;
    background-image: url('../img/parchmt.gif');
}

p,
main,
footer {
    margin-left: 10px;
}

#mainheader {
    background-color: #1ea730;
}

header,
section,
aside,
nav,
main,
article,
figure {
    display: block;
   }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 1000px;
    margin: 0 auto 20px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    float: left;
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

form {
    text-align: center;
    font-weight: bold;
    
}

footer{
    display: block;
    text-align: center;
    font-weight: bold;
    }

   #linkspage>ul>li {
       margin-bottom: 5px;
   }

.clublogo, .ttraklogo {
    width: 100px;
}

@media screen and (min-width: 500px) and (max-width: 750px) {
    body {
        background: rgb(152, 72, 226);
        font-size: 3vw;
      }
    .clublogo, .ttraklogo {
        width: 75px;
        
      }
    img {
        width: 300px;
    }
    }
    @media screen and (max-width: 450px){
    body {
        background: yellow;
        font-size: 5vw;

    }
    .clublogo, .ttraklogo {
        width: 50px;
        
      }
    img {
        width: 200px;
    }
    }
    .main {
        display: flex;
        justify-content: space-between;
    }
    .logos {
        width: 200px;
        height: 200px;
         
    }
    .ttraklogo {
        margin-right: auto;
    }

    section span {
        display: none;
    }
    section.error span {
        display: block;
        font-size: .75rem;
        color: #C20000;
        padding-left: .2rem;
    }
    section.error div {
        background-color: rgba(255,0,0,0.3);
    }
    #fname,
    #lname,
    #email,
    #comment,
    #btnSubmit {
        padding: 10px;
    }

  section p {display: none;}
  section.error p {
	display: block;
	border: solid 1px #F00; 
	background-color: rgba(255,0,0,0.3);
	padding: .3rem;
    }