
body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e4d9;
    background-image: url('../img/parchmt.gif');
    font-size: 15px;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: black;
}

figure {
    text-align: center;
}

figcaption {
    font-weight: bold;
    text-align: center;
}

p,
main,
footer {
    margin-left: 10px;
    margin-right: 10px;
}

#mainheader {
    background-color: #1ea730;
}

header,
section,
nav,
main,
article {
    display: block;
   
   }



.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    margin: 0 auto 20px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    float: left;
    
}

.nav-item a {
    display: flex;
    justify-content: center;
    align-items: center;    
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

form {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: auto;
}

footer{
    margin-top: 10px;
    display: block;
    text-align: center;
    font-weight: bold;
    }

#linkspage>ul>li {
   margin-bottom: 5px;
   }

.clublogo, .ttraklogo {
    width: 200px;
    padding: 2px;
}

img {width: 200px;
align-content: center;}

/*#previewMsg {
    margin-top: 10px;
    text-align: center;
}*/


@media all and (min-width: 500px) and (max-width: 750px) 
    {
    body {
        
        font-size: 20px;
      }
    h1 {
        font-size: 20px;
    }
    .clublogo, .ttraklogo {
        width: 225px;
        padding: 2px;
      }
    img {
        width: 400px;
    }
    .nav-item a {
        display: flex;
        justify-content: center;
        align-items: center;    
        color: white;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
    }
       
}/* End media query */
    
@media all and (min-width: 751px)
    {
    body {
        
        font-size: 25px;

    }
    .clublogo, .ttraklogo {
        width: 250px;
        padding: 2px;
      }
    img {
        width: 600px;
    }
    h1 {font-size: 25px;}
    .nav-item a {
        display: flex;
        justify-content: center;
        align-items: center;    
        color: white;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
    }
   
} /* End media query */

    .main {
        display: flex;
        justify-content: space-between;
    }
    .logos {
        width: 200px;
        height: 200px;
         
    }
    .ttraklogo {
        margin-right: auto;
    }

    section span {
        display: none;
    }
    section.error span {
        display: block;
        font-size: .75rem;
        color: #C20000;
        padding-left: .2rem;
    }
    section.error div {
        background-color: rgba(255,0,0,0.3);
    }
    #fname,
    #lname,
    #email,
    #comment,
    #btnSubmit     {
        padding: 10px;
        text-align: center;
    }

  section p {display: none;}
  section.error p {
	display: block;
	border: solid 1px #F00; 
	background-color: rgba(255,0,0,0.3);
	padding: .3rem;
    }

 /* hamburger icon */
 /* Position hamburger top left of body tag */   

/*.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 3px solid #fff;
    }

/* Creating Bars - Hamburger 

.menu-btn_burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before {
    transform: translateY(-16px);
}

.menu-btn_burger::after {
    transform: translateY(16px);
}

/* ANIMATION 

.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    }

.menu-btn.open .menu-btn_burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

/* mobile viewport 
.navbar {
    display: none;
}

.navbar:active {
    position: relative;
    display: block;
    background-color: lavender;
    text-align: center;
}

/* media query tablet and > 
@media all and(max-width: 499px) {
    
    .navbar {
        display: flex;
        background-color: transparent;
        text-align: center;
    }

    .item {
        position: relative;
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }

    .menu-btn {
        display: none;
    }
}*/

